<p>Dear Sir/Madam,</p>
<p>Please add your  company banking details that we can use to refund your bidbonds applications with us. The following are the requirements </p>
 <p>
    <ol>
        <li>Account Name</li>
        <li>Account Number</li>
        <li>Branch</li>
        <li>Branch code</li>
        <li>SWIFT CODE(FOREIGN PAYMENTS)</li>
        <li>letter with company letterhead  that authorises PRAZ to refund  funds  into the mentioned account that is signed  </li>
         <li>Identification of one of the account signatories </li>
    </ol>
 </p>
<p>
    <a href="{{ url }}">Access Portal</a>
</p>

<p>Thank you for using our application</p>