<h3>Goodday,</h3>
<p>Your Tender invoice with tender number {{tendernumber}} for <b>{{type}}</b></b></p>
 <p>Has been successfully settled please login to your Portal and access your certificate</p>
<p>Thank you for using our application</p>