<h3>Goodday,</h3>
<p>Your Supplier invoice Has been successfully settled.</p>
<p>Please note if this is your first time registering with PRAZ your account documents are now being verified once completed you will be notified</p>
<p>Thank you for using our application</p>